<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fota.fotamargin.dao.trade.mapper.ContractCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.fota.trade.client.domain.ContractCategoryDO" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="contract_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="asset_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="asset_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="total_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="unfilled_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="delivery_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="contract_type" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, contract_name, asset_id, asset_name, total_amount, 
    unfilled_amount, delivery_date, status, contract_type, price
  </sql>


</mapper>