<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fota.fotamargin.dao.trade.mapper.UserPositionMapper" >
    <resultMap id="BaseResultMap" type="com.fota.trade.client.domain.UserPositionDO" >
        <constructor >
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
            <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
            <arg column="contract_id" jdbcType="BIGINT" javaType="java.lang.Long" />
            <arg column="contract_name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="locked_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="unfilled_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="position_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="average_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="lever" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="fee_rate" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
        </constructor>
    </resultMap>

    <sql id="Base_Column_List" >
    id, gmt_create as gmtCreate, gmt_modified as gmtModified, user_id as userId, contract_id as contractId, contract_name as contractName, locked_amount as lockedAmount,
    unfilled_amount as unfilledAmount, position_type as positionType, average_price as averagePrice, `status`, lever, fee_rate as feeRate
  </sql>


    <select id="selectByUserId" resultType="com.fota.trade.client.domain.UserPositionDO">
        select <include refid="Base_Column_List"/>
        from trade_user_position
        where user_id = #{userId,jdbcType=BIGINT}
        and status = #{status}
        and unfilled_amount > 0
        order by gmt_create desc
    </select>
</mapper>